.playlist-card {
	display: grid;
	grid-template-areas:
		"playlist-header"
		"tracks"
		"player";
	grid-template-columns: 1fr;
	grid-template-rows: var(--playlist-header-height) calc(100% - var(--playlist-header-height) - var(--player-height) - 2*var(--length-medium)) var(--player-height);
	gap: var(--length-medium);
}

.playlist-header {
	grid-area: playlist-header;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: var(--playlist-header-height);
	gap: var(--length-medium);
	width: 100%;
}

.playlist-image {
	width: 100px;
	height: 100px;
	
	justify-self: flex-end;
}

.playlist-name {
	font-size: var(--font-size-medium);
	justify-self: flex-start;
	align-self: center;
	
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	--webkit-line-clamp: 1;
}

.playlist-tracks {
	grid-area: tracks;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	height: 400px;
	width: 100%;
	padding: 0 0 var(--length-medium);
	overflow: auto;
}

.player {
	grid-area: player;
}
