.track {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: var(--length-tiny) var(--length-medium);
	gap: var(--length-medium);
}

.track-image {
	width: 64px;
	height: 64px;
}

.track-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	height: 100%;
	width: 100%;
	gap: var(--length-tiny);
}

.track-title {

}

.track-artist {

}
