.track {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
}

.track-image {
	width: 64px;
	height: 64px;
}

.track-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
}

.track-title {

}

.track-artist {

}
